//---------- BUTTONS
// Button Group 
.button-group {
	margin: $padding-base;
	.button {
		margin-right: 0.5em;
		&:last-of-type {
			margin-right: 0;
			}// :last-of-type
		}// .button
	}// .button-group

.button {
	cursor: pointer;
	display: inline-block;
	padding: 0.5em 1.25em;
	text-align: center;
	font-size: 1em;
	font-weight: 800;
	line-height: 125%;
	color: $PS_Slate;
	border: 1px solid tint($PS_Slate, 75%);
	background-color: tint($PS_Slate, 95%);
	@include header-font;
	@include box-sizing(border-box);
	@include unselectable;
	@include round(top,right,0.9375em);
	@include round(bottom,left,0.9375em);
	@include transition(background,100,linear);
	@include text-legibility();

	&:hover {
		border-color: tint($PS_Slate, 50%);
		@include box-shadow(0,1px,1px,0,0.1);
		}// :hover

	&:active {
		border-color: tint($PS_Slate, 75%);
		background-color: tint($PS_Slate, 75%);
		@include no-box-shadow;
		}// :active

	&.fill {
		color: $white;
		border: 0;
		background-color: $PS_Olive;
		&.minor {
			background-color: tint($PS_Slate, 25%);
			&:hover {
				background-color: tint($PS_Slate, 15%);
				}// :hover
			&:active {
				background-color: $PS_Slate;
				}// :active
			}// .minor

		&:hover {
			background-color: shade($PS_Olive, 5%);
			}// :hover
		&:active {
			background-color: shade($PS_Olive,15%);
			}// :active
		}// .fill

	&.blank {
		color: $PS_Slate;
		text-transform: capitalize;
		border: 0;
		background-color: transparent;
		&:hover {
			color: $PS_Charcoal;
			}// :hover
		}// .blank

	&.outline {
		color: $PS_Olive;
		border: 1px solid $PS_Olive;
		background-color: transparent;
		&:hover {
			color: $PS_Charcoal;
			border-color: $PS_Charcoal;
			}// :hover
		}// .outline

	&.disabled {
		cursor: default;
		color: tint($PS_Slate,75%);
		border: 0;
		background-color: tint($PS_Slate, 95%);
		&:hover {
			@include no-box-shadow;
			}// :hover
		}// .disabled

	&.text {
		color: $PS_Olive;
		text-transform: initial;
		border: 0;
		background-color: transparent;
		.label {
			display: inline-block;
			padding-bottom: 2px;
			border-bottom: 1px solid transparent;
			@include transition(border,100,linear);
			}// .label

		&:hover {
			.label {
				border-bottom: 1px solid $PS_Olive;
				}
			}// :hover
		}// .text

	&.full-width {
		width: 100%;
		}// .full-width

	&.small {
		padding: 0.6em 1em;
		font-size: 0.8125em;
		}// .small

	&.all-caps {
		text-transform: uppercase;
		}// .all-caps
	}// .button