// ---------- ICONS
.icon {
	overflow: hidden;
	display: inline-block;
	background-repeat: no-repeat;
	}// .icon

// How icons
.icon[class^="ps-how-icon-"] {
	width: 80px;
	height: 80px;
	background-image: url('../img/ps-how-icons@2x.png');
	@include background-size(320px,80px);
	}
	.ps-how-icon-1 {background-position: 0 0;}
	.ps-how-icon-2 {background-position: -80px 0;}
	.ps-how-icon-3 {background-position: -160px 0;}
	.ps-how-icon-4 {background-position: -240px 0;}


// General Icons
.ps-icon {
	display: inline-block;
	vertical-align: middle;
	color: tint($PS_Slate, 25%);
	&:after {
		display: inline-block;
		color: inherit;
		}// :after
	&.toggled {
		color: $PS_Olive;
		}//.toggled

	// Specific Icons
	// Search
	&.search {
		position: absolute;
			top: 50%;
			right: ($padding-base * 1.5);
		display: inline-block;
		width: 12px;
		height: 12px;
		margin-top: -8px;
		border: 2px solid tint($PS_Slate, 25%);
		background-color: $white;
		@include round-all(6px);
		@include box-sizing(border-box);
		&:after {
			content: "";
			position: absolute;
				top: 9px;
				right: -5;
			width: 6px;
			height: 2px;
			background-color: tint($PS_Slate, 25%);
			@include transform-rotate(45deg);
			@include round(top,right,2px);
			@include round(bottom,right,2px);
			}// :after
		}// .search

	// Arrows
	&.l-arrow {
		&:after {
			content: "➜";
			margin-left: -3px;
			@include transform-rotate(180deg);
			}// :after
		}// .l-arrow
	&.r-arrow {
		&:after {
			content: "➜";
			margin-right: 1px;
			}// :after
		}// .r-arrow

	// Stars
	&.star {
		&:after {
			content: "☆";
			margin-left: -1px;
			margin-bottom: -1px;
			font-size: 1.375em;
			line-height: 75%;
			}// :after
		}// .star
	&.star-fill {
		&:after {
			content: "★";
			margin-left: -1px;
			font-size: 1.375em;
			line-height: 75%;
			}// :after
		}// .star

	// Archive
	&.archive {
		position: relative;
		width: 1.5em;
		height: 1.25em;
		margin-top: -2px;
		margin-left: -3px;
		color: tint($PS_Slate, 50%);
		background-color: tint($PS_Slate, 25%);
		@include round(top,left,0.375em);
		@include round(top,right,0.375em);
		// Down Arrow
		&:before {
			content: "➜";
			display: inline-block;
			position: absolute;
				top: 20%;
				left: 25%;
			vertical-align: top;
			font-size: 0.75em;
			line-height: 125%;
			color: tint($PS_Slate, 95%);
			@include transform-rotate(90deg);
			}
		// Box
		&:after {
			content: "";
			position: absolute;
				top: 12.5%;
				left: 12.5%;
			width: 75%;
			height: 0.125em;
			background-color: $white;
			@include round(top,left,3px);
			@include round(top,right,3px);
			}
		}// .archive
	}// .ps-icon
