// -------- IMAGES
// Undefined Images
.img-undefined {
	position: relative;
	border: 1px solid $border-color;
	&:after {
		content: "";
		z-index: 10;
		display: block;
		position: absolute;
			top: 50%;
			left: 50%;
		width: 1.5em;
		height: 2.5em;
		margin-left: -0.75em;
		margin-top: -1.25em;
		background-image: url('../img/ps-logo.png');
		background-position: 0 0;
		background-repeat: no-repeat;
		@include background-sizeNN(contain);
		@include opacity(0.06);
		}// :after
	}// .img-undefined

// Avatars
.ps-avatar {
	display: inline-block;
	@include unselectable;
	img {
		display: inline-block;
		width: inherit;
		height: inherit;
		}// <img>

	// Sizes
	&.large {
		width: 100px;
		height: 100px;
		}// .large
	&.medium {
		width: 64px;
		height: 64px;
		}// .large
	&.small {
		width: 48px;
		height: 48px;
		}// .small
	}// .ps-avatar

// Cover Images
.ps-profile-cover {
	img {
		display: inline-block;
		width: inherit;
		height: inherit;
		}// <img>

	// Sizes
	&.small {
		width: 360px;
		height: 120px;
		}// .small
	&.medium {
		width: 660px;
		height: 220px;
		}// .medium
	}// .ps-profile-cover

// ---- Specific images
// images in input rows (Menu Page Type)
.input-row .ps-avatar {
	margin-right: $padding-base;
	}// .input-row .ps-avatar