// ------------- List Page Type
.ps-page-type-list {
	margin-top: $ps-topbar-height + ($padding-base * 2);

	#ps-page-main {
		width: 680px;

		// ---- SEARCH
		// Search Info
		.search-info {
			position: relative;
			color: $PS_Slate;
			.search-terms {
				}// .search-terms
			.search-count {
				position: absolute;
					right: 0;
					top: ($padding-base * 0.5);
				font-size: 0.875em;
				}// .search-count
			}// .search-info

		// Search Filters
		.search-filters {
			.ps-label-group {
				width: 480px;
				margin-top: $padding-base;
				}// .ps-label-group
			}// .search-filters

		// Search Results, container
		.search-section {
			padding-bottom: 0;
			border-bottom: 0;

			// Section Title
			h3.title{
				margin-bottom: ($padding-base * 1.5);
				padding: 0.5em 0.75em;
				color: tint($PS_Charcoal,50%);
				font-weight: normal;
				border-style: solid;
				border-width: 0 0 1px 0;
				border-color: tint($PS_Slate, 75%);
				@include box-sizing(border-box);
				}// h3.title
			}// .search-section

			.search-item {
				cursor: pointer;
				position: relative;
				padding-left: 90px;
				margin-bottom: ($padding-base * 1.5);

				&:last-of-type {
					.info {
						border-bottom: 0;
						}// .info
					}// :last-of-type

				.info {
					width: 100%;
					padding-top: 2px;
					padding-bottom: ($padding-base * 1.5);
					color: tint($PS_Charcoal, 25%);
					border-bottom: 1px solid tint($PS_Charcoal, 85%);
					.name {
						font-size: 1em;
						color: $PS_Charcoal;
						margin-bottom: ($padding-base * 0.5);
						}// .name
					.location {
						font-size: 0.75em;
						color: tint($PS_Charcoal, 50%);
						text-transform: capitalize;
						letter-spacing: 0.02em;
						margin-bottom: $padding-base;
						}// .location
					.tagline {
						font-size: 0.875em;
						margin-bottom: ($padding-base * 0.5);
						}// .tagline
					.meta {
						font-size: 0.8125em;
						}// .meta
					}// .info

				.ps-avatar {
					position: absolute;
						top: 0;
						left: 0;
					margin-right: ($padding-base * 2);
					}// .ps-avatar

				&:hover {
					.info {
						// Right Arrow
						&:after {
							content: "";
							display: block;
							position: absolute;
								top: 50%;
								right: ($padding-base * 1.5);
							width: 6px;
							height: 6px;
							margin-top: -12px;
							border-style: solid;
							border-color: tint($PS_Charcoal,50%);
							border-width: 2px 2px 0 0;
							@include transform-rotate(45deg);
							}// :after
						}// .info
					}// :hover

				&:active {
					.name {
						color: $PS_Olive;
						}// .name

					.info {
						// Right Arrow
						&:after {
							border-color: $PS_Olive;
							}// :after
						}// .info
					}// :active
				}// .search-item

			.search-pagination {
				position: relative;
				color: $PS_Slate;
				margin-top: $padding-base * 2;
				.search-count {
					position: absolute;
						right: 0;
						top: 50%;
					margin-top: -0.5em;
					font-size: 0.875em;
					}// .search-count

				li {
					a {
						}// <a>
					}// <li>
				}// .search-pagination
		}// #ps-page-main

	#ps-page-menu {
		width: 240px;
		margin-right: ($padding-base * 2);

		// Form wrapper for search filter page menu
		#ps-filter-form {
			margin-top: ($padding-base * 4);

			// Form submit wrapper
			.ps-submit-form {
				margin: ($padding-base * 2) 0;
				text-align: right;
				}// .ps-submit-form
			}// #ps-filter-form

		.search-filter-list {
			li {
				position: relative;

				& * {
					cursor: pointer;
					}

				input[type="checkbox"] {
					position: absolute;
						top: 7px;
						left: 13px;
					&:checked {
						& + span {
							color: $PS_Slate;
							font-weight: bold;
							}
						}// :checked
					}// input[type="checkbox"]
				label {
					font-size: 0.875em;
					color: tint($PS_Slate, 25%);
					}// <label>
				}// <li>

			.list-item {
				padding: 0.5em 1.25em 0.5em 0;
				line-height: 112.5%;
				}// .list-item
			}// .search-filter-list

		.ps-panel {
			margin-bottom: ($padding-base * 1.5);
			&:last-of-type {
				margin-bottom: 0;
				}// :last-of-type
			}// .ps-panel

		ul.ps-panel-list {
			color: tint($PS_Slate, 50%);
			li {
				&.current {
					cursor: default;
					color: $PS_Slate;
					}// .current
				&:hover {
					color: $PS_Slate;
					background-color: transparent;
					}// :hover
				}// <li>
			}// ul.ps-panel-list
		}// #ps-page-menu
	}// .ps-page-type-list