// -------------------- LANDING PAGE
body#ps-landing-page {
	min-width: 400px;
	background-color: $white;

	// User Menu (Logged In users only)
	ul.topbar-nav {
		margin-top: 0.25em;
		padding: 0 0.75em 0 1.25em;
		background-color: $white;
		@include round(top,right,0.9375em);
		@include round(bottom,left,0.9375em);
		@include box-shadow(0,0,1.5em,0,0.25);

		.ps-user-menu {
			& > a {
				padding: ($padding-base * 1.5) $padding-base;
				}
			}// .ps-user-menu
		}// ul.topbar-nav

	// Page Header
	#ps-page-header {

		.ps-logotype {
			color: $white;
			}// .ps-logotype

		&.fixed {
			.ps-logotype {
				color: $PS_Slate;
				}// .ps-logotype
			ul.topbar-nav {
				margin-top: -0.4em;
				background-color: transparent;
				@include no-box-shadow;
				}// ul.topbar-nav
			}// .fixed
		}// #ps-page-header

	// ---------- HEADER
	#ps-topbar {
		position: relative;
		height: 100px;
		padding: 1.75em 4.5%;
		background-color: transparentize($white,1);
		border-bottom: 1px solid transparent;
		@include no-box-shadow;

		.ps-logo {
			margin-right: 0.25em;
			}// .ps-logo

		.ps-logotype {
			color: $white;
			font-size: 2em;
			line-height: 150%;
			}// .ps-logotype

		.button.outline {
			position: relative;
				top: 0.75em;
				right: 42.5%;
			color: $white;
			border-color: $white;
			background-color: transparent;
			&:hover {
				color: $PS_Olive;
				border-color: $PS_Olive;
				}// :hover
			}// .button.outline

		&.fixed {
			position: fixed;
			height: $ps-topbar-height;
			padding: 0 4.5%;
			background-color: $white;
			border-bottom: 1px solid tint($PS_Slate,80%);
			@include unselectable;
			@include box-shadow(0,4px,0,0,0.02);

			.ps-logotype {
				color: $white;
				font-size: 2em;
				line-height: 150%;
				}// .ps-logotype

			.button.outline {
				position: relative;
					top: 0;
					right: 0;
				color: $PS_Olive;
				border-color: $PS_Olive;
				background-color: transparent;
				&:hover {
					color: $PS_Charcoal;
					border-color: $PS_Charcoal;
					}// :hover
				}// .button.outline
			}// .fixed
		}// #ps-topbar
	}// body#ps-landing-page